In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ratings = pd.read_csv("ml-latest-small/ratings.csv")
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df_ratings.info

<bound method DataFrame.info of         userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]>

In [4]:
# for each user, randomly select 80% of it's ratings as the training ratings, 
# and use the remaining 20% ratings as validation ratings.

idx = df_ratings.groupby('userId').apply(lambda x: x.sample(frac=0.8, random_state = 0)) \
  .index.get_level_values(1)

training = df_ratings.iloc[idx, :].reset_index(drop = True)
testing = df_ratings.drop(idx).reset_index(drop = True)

In [5]:
training.head()

   userId  movieId  rating  timestamp
0       1     3578     5.0  964980668
1       1     2268     4.0  964982989
2       1     5060     5.0  964984002
3       1     2944     5.0  964981872
4       1     2137     5.0  964982791

In [6]:
training.shape

(80672, 4)

In [7]:
testing.head()

   userId  movieId  rating  timestamp
0       1      157     5.0  964984100
1       1      362     5.0  964982588
2       1      457     5.0  964981909
3       1      543     4.0  964981179
4       1      590     4.0  964982546

In [8]:
testing.shape

(20164, 4)

In [9]:
# save training dataset

training.to_csv('dataset_split/training_set.csv', index=False)

In [10]:
# save validation dataset

testing.to_csv('dataset_split/testing_set.csv', index=False)