In [1]:
pip install surprise

Requirement already satisfied: surprise in /opt/homebrew/Cellar/jupyterlab/3.6.1/libexec/lib/python3.11/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /opt/homebrew/Cellar/jupyterlab/3.6.1/libexec/lib/python3.11/site-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /opt/homebrew/Cellar/jupyterlab/3.6.1/libexec/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/Cellar/jupyterlab/3.6.1/libexec/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in /opt/homebrew/Cellar/jupyterlab/3.6.1/libexec/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.10.1)

[notice] A new release of pip available: 22.3.1 -> 23.1.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
from surprise import Reader
from surprise import Dataset
from surprise import accuracy
import pandas as pd
import json

from surprise import \
SVD, \
NMF, \
CoClustering

In [3]:
# load training dataset

df_train = pd.read_csv('dataset_split/training_set.csv')[['userId', 'movieId', 'rating']]

df_train.head()

   userId  movieId  rating
0       1     3578     5.0
1       1     2268     4.0
2       1     5060     5.0
3       1     2944     5.0
4       1     2137     5.0

In [4]:
reader = Reader(rating_scale=(1, 5))

In [5]:
trainset = Dataset.load_from_df(df_train, reader).build_full_trainset()

In [6]:
model_cocluster = CoClustering()

In [7]:
model_cocluster.fit(trainset)

In [8]:
# load validation dataset

df_validate = pd.read_csv('dataset_split/testing_set.csv')[['userId', 'movieId', 'rating']]

df_validate.head()

   userId  movieId  rating
0       1      157     5.0
1       1      362     5.0
2       1      457     5.0
3       1      543     4.0
4       1      590     4.0

In [9]:
predicted_attributes_cocluster = []

# this function predicts ratings on the validation set using the trained model
def get_predicted_ratings(x, algo):
  prediction_list = []

  if algo == "SVD":
    model = model_svd
  elif algo == "NMF":
    model = model_nmf
  elif algo == "CoClustering":
    model = model_cocluster

  prediction = model.predict(x[0], x[1])

  prediction_list.append(int(prediction[0]))
  prediction_list.append(int(prediction[1]))
  prediction_list.append(prediction[3])

  if algo == "SVD":
    predicted_attributes_svd.append(prediction_list)
  elif algo == "NMF":
    predicted_attributes_nmf.append(prediction_list)
  elif algo == "CoClustering":
    predicted_attributes_cocluster.append(prediction_list)

In [10]:
df_validate.apply(lambda x: get_predicted_ratings(x, "CoClustering"), axis=1)

df_result_cocluster = pd.DataFrame.from_records(predicted_attributes_cocluster, 
                                      columns=['userId', 'movieId', 'predicted_rating'])
df_result_cocluster['rating'] = df_validate['rating']

df_result_cocluster.head()

   userId  movieId  predicted_rating  rating
0       1      157          3.520345     5.0
1       1      362          4.720673     5.0
2       1      457          4.762522     5.0
3       1      543          3.992879     4.0
4       1      590          4.923122     4.0

In [11]:
df_result_cocluster.to_csv('predictions/prediction_cocluster.csv', index=False)